<div class="fullCard"> 
    <div class="cardContent">
        <h1>Current Lists</h1>

        <% @lists.each do |list| %>
            <ul>
                <%= link_to list.title, list_path(list) %>
            </ul>
        <% end %>
        <br>
        <%= button_to "Create a New List", new_list_path, method: :get %>
    </div>
</div>