
<div class="fullCard"> 
    <div class="cardContent">
        <h1>Usage Stats</h1>

        <h4>Number of Lists:
        <%= num_lists %></h4>
        <h4>Average Number of Tasks Per List:
        <%= avg_tasks %></h4>
    </div>
</div>

