
<div class="fullCard"> 
    <div class="cardContent">
        <h1>Usage Stats</h1>

        <h4>Number of Lists:
        <%= List.count %></h4>
        <h4>Average Number of Tasks Per List:
        <%= Task.count / List.count %></h4>
    </div>
</div>

