<div class="fullCard"> 
    <div class="cardContent">
        <h1>Tasks</h1>
        <% @tasks.each do |task| %>
        <ul>
            <%= task.name %>
            </ul>
        <% end %>
    </div>
</div>