/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* @font-face{
    font-family: 'Noto Sans KR', sans-serif;
    src: url('/assets/fonts/Noto_Sans_KR.otf');
} */

 body{
     background: #FBECE4;
 }

 .fullCard{
     width: 30vh;
     height: 45vh;
     border: 1px, black;
     border-radius: 9%;
     margin: 5%;
     padding: 5%;
     background: #FBFBFC;
     text-align: justify;
 }

 .cardContent{
     height: 100%;
     width: 100%;
     padding: 5%;
     color: rgb(18, 26, 131);
 }

 .button{
     background-color: #FBECE4;
     border-radius: 3%;
     color: rgb(18, 26, 131);
     text-align: center;
     padding: 2%;
     font-size: 15px;
 }
